spring:
  application:
    name: freshly-backend

  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java,src/main/resources
      poll-interval: 2s
      quiet-period: 1s
      exclude: static/**,public/**
    livereload:
      enabled: true

  docker:
    compose:
      enabled: false

  mongodb:
    host: localhost
    port: 27017
    database: freshly_db
    username: root
    password: root
    authentication-database: admin

  mail:
    host: localhost
    port: 1025
    username: vertyll
    password: vertyll
    from: no-reply@freshly.local
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enabled: true
        connection-timeout: 5000
        timeout: 3000
        write-timeout: 5000

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/freshly-realm
      client:
        registration.freshly:
            client-id: freshly-app-client
            client-secret: dev-client-secret-change-in-production
            scope:
              - openid
              - profile
              - roles
            authorization-grant-type: authorization_code
            redirect-uri: http://localhost:8080/login/oauth2/code/{registrationId}

        provider.freshly:
            authorization-uri: http://localhost:8081/realms/freshly-realm/protocol/openid-connect/auth
            token-uri: http://localhost:8081/realms/freshly-realm/protocol/openid-connect/token
            jwk-set-uri: http://localhost:8081/realms/freshly-realm/protocol/openid-connect/certs
            user-info-uri: http://localhost:8081/realms/freshly-realm/protocol/openid-connect/userinfo
            user-name-attribute: preferred_username

application:
  file:
    uploads:
      file-output-path: ./uploads

  frontend:
    url: http://localhost:4200

server:
  port: 8080

logging:
  level:
    root: INFO
    com.vertyll.freshly: DEBUG
    org.springframework.security: DEBUG