spring:
  application:
    name: freshly-backend
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB

management:
  endpoints:
    web:
      exposure:
        include: health,metrics,info
  endpoint:
    info:
      access: READ_ONLY
    health:
      access: READ_ONLY
    metrics:
      access: READ_ONLY

springdoc:
  default-produces-media-type: application/json

server:
  servlet:
    context-path: /api/v1/