spring:
  application:
    name: freshly-backend

  devtools:
    restart:
      enabled: true
      additional-paths: src/main/java,src/main/resources
      poll-interval: 2s
      quiet-period: 1s
      exclude: static/**,public/**
    livereload:
      enabled: true

  docker:
    compose:
      enabled: false

  mongodb:
    host: localhost
    port: 27017
    database: freshly_db
    username: root
    password: root
    authentication-database: admin
    representation:
      uuid: STANDARD

  mail:
    host: localhost
    port: 1025
    username: vertyll
    password: vertyll
    from: no-reply@freshly.local
    properties:
      mail:
        smtp:
          trust: "*"
        auth: true
        starttls:
          enabled: true
        connection-timeout: 5000
        timeout: 3000
        write-timeout: 5000

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8081/realms/freshly-realm

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

security:
  jwt:
    secret: isN5Z1EinzeD2JyjXq6SZqoBd+QpOJMxZsBHwfhXHAA=
    expiration:
      email-verification: 86400000
      password-reset: 3600000
    refresh-token:
      expiration: 1800000
      cookie-name: "refresh_token"
    cookie:
      httpOnly: true
      secure: false
      sameSite: Strict
      path: "/"

external-service:
  gios:
    api-url: https://api.gios.gov.pl/pjp-api/v1/rest

application:
  file:
    uploads:
      file-output-path: ./uploads

  frontend:
    url: http://localhost:4200

  keycloak:
    server-url: http://localhost:8081
    realm: freshly-realm
    admin-client-id: admin-cli
    admin-username: admin
    admin-password: admin
    user-client-id: freshly-app-client

server:
  port: 8080

logging:
  level:
    root: INFO
    com.vertyll.freshly: DEBUG
    org.springframework.security: DEBUG
    org.springframework.mail: DEBUG